div.pagik {
	text-align: center;
	height: 36px;
	margin: 18px 0px;
}

.pagik a {
	padding: 14px;
	cursor: pointer;
	border: 1px solid #ddd;
	display: inline-block;
	text-decoration: none;
	line-height: 10px;
	/* color: black; */
}

.pagik a:first-child {
	border-radius: 5px 0 0 5px;
}

.pagik a:last-child {
	border-radius: 0px 5px 5px 0px;
}

button.pressed:hover {
	background: green;
	color: white;
}
button.pressed {
	background: rgb(50, 197, 50);
	color: white;
}

